@import "tailwindcss";

@theme {
  --font-main: var(--font-vietnam-pro);
  --font-secondary: var(--font-raleway);

  --color-primary: #1f699b;
  --color-secondary: #094574;
}

.text-title {
  @apply text-[32px] md:text-[38px] lg:text-[44px] font-[400] leading-[1.2] font-main;
}

.text-subtitle {
  @apply text-[14px] md:text-[16px] font-main;
}
